*{
    margin: 0;
    padding: 0;
     font-family: "Roboto", sans-serif;
}

.main_box{
    background-image: url(photo.jpg);
    height: 100vh;
    background-size: cover;
}

.btn_one{
    color: white;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 16px;
    line-height: 60px;
    cursor: pointer;
     transition: all 0.3s linear;
}

.sidebar_menu{
    position: fixed;
    height: 100vh;
    width: 300px;
    left: -300px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
    transition: all 0.3s linear;
}

.logo{
    position: absolute;
    width: 100%;
    line-height: 60px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.5);
    height: 60px;
}

.logo a{
    position: absolute;
    left: 50px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

.btn_two{
    color: gray;
    font-size: 25px;
    line-height: 60px;
    position: absolute;
    left: 275px;
    /* opacity: 0; */
    cursor: pointer;
}

.menu{
    position: absolute;
    width: 100%;
    top: 80px;
}

.menu li{
    margin-top: 6px;
    padding: 14px 20px;
}

.menu i,a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.menu i{
    padding-right: 8px;
}

.social_media{
    position: absolute;
    left: 25%;
    bottom: 50px;
}

.social_media i{
    color: white;
    opacity: 0.5;
    padding: 0 5px;
}

#check{
    display: none;
}

.menu li:hover{
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}

.btn_one i:hover{
    font-size: 40px;
     transition: all 0.3s linear;
}

.btn_two i:hover{
    font-size: 30px;
}

.social_media i:hover{
    opacity: 1;
    transform: scale(1.1);
}

#check:checked ~ .sidebar_menu{
    left: 0;
}


